import { default as React } from "react";
import { Container } from "reactstrap";
import { Layout } from "{{backPath}}/components/shared/Layout";

export interface I{{name}}Props {}

export interface I{{name}}State {}

export class {{name}} extends React.PureComponent<I{{name}}Props, I{{name}}State> {
  constructor(props: I{{name}}Props) {
    super(props);

    this.state = {};
  }
  render() {
    return (
      <Layout>
        <Container></Container>
      </Layout>
    );
  }
}
