import { IHandler } from "@aicacia/router";
import { IRouterContext } from "../stores/lib/router";

export const {{ name }}: IHandler = (context: IRouterContext): Promise<IRouterContext> =>
  Promise.resolve(context);